<!doctype html>
<html>
  <head>
    <%= stylesheet_link_tag 'all', media: "all" %>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="author" content="Raymond Cox" />
    <meta name="og:site_name" content="Raymond Cox" />
    <meta name="og:type"content="blog"  />
    <meta name="description" content="Raymond Cox is a software engineer living in the Boston area. Read insightful development blog posts about Javascript, Ember and other topics.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel='stylesheet' type='text/css'>
    <title>Raymond Cox<%= ' - ' + current_page.data.title unless current_page.data.title.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <%= partial('partials/navigation', locals: { class_names: ['mobile-nav', 'hide-nav', 'nav', 'text-center', 'nav-stacked', 'hidden-sm', 'hidden-md', 'hidden-lg'] }) %>
    <div class="container">
      <div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-0 col-lg-11">
        <div class="row">
            <div class="col-md-10 col-sm-10 pull-left header-container">
              <%= image_tag 'images/face.png', class: "img-circle pull-left face hidden-xs" %>
              <h1 class="main-header">Raymond Cox</h1>
              <h6 class="sub-header">My personal website and blog</h6>
            </div>

            <div class="col-xs-2 pull-right text-right hidden-sm hidden-md hidden-lg" style="margin-top:1.75em; padding-right: 0;">
              <button class="btn btn-default mobile-hamburger">
                <span class="fa fa-bars" aria-hidden="true"></span>
              </button>
            </div>

            <%= partial('partials/social_icons', locals: { class_names: ['col-md-2', 'col-sm-2', 'hidden-xs', 'text-right'] }) %>
        </div>
        <div class="row">
          <hr></hr>
        </div>
        <div class="row">
          <%= partial('partials/navigation', locals: { class_names: ['list-inline', 'top-nav', 'hidden-xs'] }) %>
        </div>
        <div class="row">
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <footer class="site-footer">
          &copy; 2015-2016 Raymond Cox
        </footer>
      </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js'></script>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
