<header class="site-header">
  <img class="site-logo" src="<%= image_path('face.jpg') %>"
       srcset="<%= image_path('face@3x.jpg') %> 3x, <%= image_path('face@2x.jpg') %> 2x, <%= image_path('face.jpg') %> 1x">
  <div class="site-header-text">
    <h1 class="site-title">Raymond Cox</h1>
    <h2 class="site-description">Boston Software Engineer</h2>
  </div>
  <%= partial("partials/social_icons") %>
</header>

