<ul class="<%= class_names.join(' ') unless class_names.nil? %>">
  <li><%= link_to 'Blog', '/' %></li>
  <li><%= link_to 'About', '/about/' %></li>
  <li><%= link_to 'Archive', '/archive' %></li>
  <li><%= link_to 'Projects', '/projects' %></li>
</ul>
