<ul class="<%= class_names.join(' ') unless class_names.nil? %>">
  <li>
    <%= partial(:social_icons, locals: { class_names: ['col-md-2', 'col-sm-2', 'text-center', 'hidden-sm', 'hidden-md', 'hidden-lg'] }) %>
  </li>

  <li><%= link_to 'Blog', '/' %></li>
  <li><%= link_to 'About', '/about/' %></li>
  <li><%= link_to 'Archive', '/archive' %></li>
  <li><%= link_to 'Projects', '/projects' %></li>
</ul>
