<!doctype html>
<html>
  <head>
    <%= stylesheet_link_tag 'all', media: "all" %>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="author" content="Raymond Cox" />
    <meta name="og:site_name" content="Raymond's blog & site" />
    <meta name="og:type"content="blog"  />
    <meta name="description" content="Raymond Cox is a software engineer living in the Boston area. Read insightful development blog posts about Javascript, Ember and other topics.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Raymond's Site<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <div class="container">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <div class="row">
          <%= image_tag 'images/face.png', class: "img-circle pull-left face hidden-xs" %>
          <h1 class="main-header">Raymond Cox</h1>
          <h6 class="sub-header">My personal website and blog</h6>
          <hr></hr>
        </div>

        <div class="row">
          <ul class="list-inline top-nav">
            <li><%= link_to 'Blog', '/' %></li>
            <li><%= link_to 'About', '/about/' %></li>
            <li><%= link_to 'Archive', '/archive' %></li>
            <li><%= link_to 'Projects', '/projects' %></li>
          </ul>
        </div>
        <div class="row">
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <footer class="site-footer">
          &copy; 2015-2016 Raymond Cox
        </footer>
      </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js'></script>
  </body>
</html>
